/*


Icones de https://cssicon.space/#/
https://github.com/wentin/cssicon/blob/master/LICENSE

*/
.suitcase.icon {
color: #000;
position: absolute;
margin-left: 2px;
margin-top: 6px;
width: 15px;
height: 10px;
border-radius: 2px;
border: solid 1px currentColor;
}

.suitcase.icon:before {
content: '';
position: absolute;
left: 4px;
top: -3px;
width: 5px;
height: 2px;
border-radius: 3px 3px 0 0;
border-top: solid 1px currentColor;
border-left: solid 1px currentColor;
border-right: solid 1px currentColor;
}

.suitcase.icon:after {
content: '';
position: absolute;
left: 3px;
width: 7px;
height: 10px;
border-left: solid 1px currentColor;
border-right: solid 1px currentColor;
}

.arrow-down.icon {
color: #000;
position: absolute;
margin-left: 10px;
margin-top: 2px;
width: 1px;
height: 16px;
background-color: currentColor;
}
.arrow-down.icon:before {
content: '';
position: absolute;
left: -5px;
top: 3px;
width: 10px;
height: 10px;
border-top: solid 1px currentColor;
border-right: solid 1px currentColor;
-webkit-transform: rotate(135deg);
transform: rotate(135deg);
}

.arrow-up.icon {
color: #000;
position: absolute;
margin-left: 10px;
margin-top: 3px;
width: 1px;
height: 16px;
background-color: currentColor;
}

.arrow-up.icon:before {
content: '';
position: absolute;
left: -5px;
top: 1px;
width: 10px;
height: 10px;
border-top: solid 1px currentColor;
border-right: solid 1px currentColor;
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
}
.code.icon {
color: #000;
position: absolute;
margin-left: 3px;
margin-top: 6px;
}

.code.icon:before {
content: '';
position: absolute;
width: 8px;
height: 8px;
border-left: solid 1px currentColor;
border-top: solid 1px currentColor;
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
}

.code.icon:after {
content: '';
position: absolute;
left: 6px;
width: 8px;
height: 8px;
border-bottom: solid 1px currentColor;
border-right: solid 1px currentColor;
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
}

.paperclip.icon {
color: #000;
position: absolute;
margin-left: 9px;
margin-top: 2px;
width: 6px;
height: 12px;
border-radius: 4px 4px 0 0;
border-left: solid 1px currentColor;
border-right: solid 1px currentColor;
border-top: solid 1px currentColor;
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
}

.paperclip.icon:before {
content: '';
position: absolute;
top: 11px;
left: -1px;
width: 4px;
height: 6px;
border-radius: 0 0 3px 3px;
border-left: solid 1px currentColor;
border-right: solid 1px currentColor;
border-bottom: solid 1px currentColor;
}

.paperclip.icon:after {
content: '';
position: absolute;
left: 1px;
top: 1px;
width: 2px;
height: 10px;
border-radius: 4px 4px 0 0;
border-left: solid 1px currentColor;
border-right: solid 1px currentColor;
border-top: solid 1px currentColor;
}

.bookmark.icon {
color: #000;
position: absolute;
margin-left: 5px;
margin-top: 3px;
width: 10px;
height: 15px;
border-radius: 1px 1px 0 0;
border-top: solid 1px currentColor;
border-left: solid 1px currentColor;
border-right: solid 1px currentColor;
}

.bookmark.icon:before {
content: '';
position: absolute;
top: 10px;
left: 1px;
width: 7px;
height: 7px;
border-top: solid 1px currentColor;
border-left: solid 1px currentColor;
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
}

