body{
font-family: "Times New Roman", Times, serif;
background-color: rgba(186, 202, 204, 0.685);
max-width: 100%;
display: block;
}

/* Estilo da barra de navegação */
.navbar{
height: 62px;
background-color: rgba(186, 202, 204, 0.075);
border-bottom: outset;
border-width: 2px;
border-radius: 3px;
}
.navbar ul{
list-style-type: none;
}
.navbar li {
float: left; /*float para ficarem todos li na mesma linha */
background-color: rgba(186, 202, 204, 0.075);
}
.navbar li:hover {
background-color: rgb(172, 172, 172);
border-bottom: outset;
border-width: 2px;
}
.navbar a {
display: block;
color: rgb(255, 255, 255);
padding: 24px 14px 22px 14px;
text-align: center;
text-decoration: none;
}
.navbar a:hover {
color: rgb(236, 68, 68);
text-decoration: underline;	
}
.navbar .hello{
margin-top: 12px;
float:right;
padding-right: 40px;
color: #CFDADC;
}
.wrapper{
height: 80%;
width: 88%;
background-color: linen;
margin: auto;
}
#profissional{
margin-top: 32px;
height: 620px;
}
#academico{
	margin-top: 32px;
	height: 860px;
}
.content dl dt{
background-color: rgba(186, 202, 204, 0.685);
}

/* Estilos auxiliares */
.part {
width: 90%;
margin: auto;
}
.content{
margin: 20px;
height: 480px;
}
.content ul{
list-style-type:disc;
}
.box-right{
float: right;
padding-left: 8em;
}
.box-left{
float: left;
width: 60%;
}
.row {
width: 100%;
padding-top: 26px;
padding-bottom: 13px;
margin: auto;
height: 100px;
}
.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
text-align: center;
margin-bottom: auto;
}
.circle {
height: 80px;
width: 80px;
border-radius: 80px;
border: 3px transparent;
}

.aux-padding-top{
	padding-top: 20px;
}
.aux-padding-bottom{
	padding-bottom: 150px;
}
.footer{
background-color: rgba(186, 202, 204, 0.685);
}
.footer ul{
	list-style-type: none;
}
.footer img{
	max-height: 80px;
}

dt a{
	text-decoration: none;
	color: darkseagreen;
}
dd a{
	text-decoration: none;
	color: darkseagreen;
}
dt a:hover{
	text-decoration: underline;
	color: black;
}
dd a:hover{
	text-decoration: underline;
	color: black;
}