body{
	font-family: "Times New Roman", Times, serif;
	background-color: rgba(186, 202, 204, 0.685);
	max-width: 100%;
}


/* Estilos auxiliares */
.part {
	width: 90%;
	margin: auto;
}
.content{
	margin: 20px;
	max-height: 480px;
	height: initial;
}
.content ul{
	list-style-type: disc;	
}
.float-right{
float: right;
padding-left: 8em;
}
.box-left{
float: left;
width: 60%;
height: auto;
}
.row {
width: 100%;
padding-top: 26px;
padding-bottom: 13px;
margin: auto;
height: 100px;
}
.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
text-align: center;
margin-bottom: auto;
}
.circle {
height: 80px;
width: 80px;
border-radius: 80px;
border: 3px transparent;
}

.aux-padding-top{
	padding-top: 20px;
}
.aux-padding-bottom{
	padding-bottom: 150px;
}
.footer{
background-color: rgba(186, 202, 204, 0.685);
}
.footer ul{
	list-style-type: none;
}
.footer img{
	max-height: 80px;
}

dt a{
	text-decoration: none;
	color: darkseagreen;
}
dd a{
	text-decoration: none;
	color: darkseagreen;
}
dt a:hover{
	text-decoration: underline;
	color: black;
}
dd a:hover{
	text-decoration: underline;
	color: black;
}